# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Python files
[*.{py,pyi}]
indent_style = space
indent_size = 4
max_line_length = 120  # Django default

# C++ files
[*.{cpp,hpp,h,cc,cxx,hxx}]
indent_style = space
indent_size = 2  # Google style
max_line_length = 80

# Bazel files
[*.{bazel,bzl,BUILD}]
indent_style = space
indent_size = 4

# Shell scripts
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2
max_line_length = 80

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

# CMake
[CMakeLists.txt,*.cmake]
indent_style = space
indent_size = 2 
