# The root where to save the logs
PROJECT_ROOT="/home/user/experiments/dcis_ducts/"
# The root where the annotations are located
ANNOTATIONS_DIR=/data/annotations/
DATA_DIR=/scratch/dcis_ducts_dataset/
# The location where the database is located
DATABASE_URI=sqlite:////data/annotations/manifest.sqlite 
SCRATCH=/scratch/user/
