# --------- pytorch --------- #
torch==2.5.1
torchvision==0.20.1
lightning==2.5.0
torchmetrics==1.6.1

# --------- hydra --------- #
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
mlflow

# --------- others --------- #
rich            # beautiful text formatting in terminal
matplotlib
nibabel
dotenv
monai